//背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")
//背景图片
back-image($url)
  background: url($url) no-repeat center
  background-size: 100% 100%
//不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

//扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px
//加减乘除计算    
$calc(a, b, type = "+")
  if (type == "+")
    a + b
  else if (type == "-") 
    a - b
  else if (type == "*") 
    a * b
  else if (type == "/") 
    a / b     
//绝对定位100%
absolute-full(zIndex)
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0 
  z-index: zIndex 
//固定定位100%
fixed-full(zIndex)
  position: fixed
  width: 100%
  height: 100%
  left: 0
  top: 0 
  //background: rgba(0,0,0,.8)
  z-index: zIndex       
//绝对定位水平方向居中           
absolute-cen()
  position: absolute
  width: 100%
  left: 50%
  transform: translateX(-50%)  
//绝对定位水平垂直方向居中           
abs-cen()
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)   